* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: aqua;
	font-family: sans-serif;
}
.section {
	height: 100vh;
}
.images img {
	width: 50%;
}
.section2 .images {
	display: flex;
}

@media screen and (max-width: 800px) {
	body {
		background-color: bisque;
	}
	.images img {
		width: 100%;
	}
	.section2 .images {
		flex-direction: column;
		height: 100%;
	}
}
