* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: aqua;
	font-family: sans-serif;
}
.section {
	height: 100vh;
}
.images img {
	width: 50%;
}
.section2 .images {
	display: flex;
}
.section h1 {
	text-align: center;
	line-height: 100vh;
	font-size: 5rem;
	letter-spacing: 1px;
}

.section .fadeMove {
	transform: translateY(0);
	opacity: 1;
}

.section h1 span {
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(50px);
}

.section2 h1 {
	line-height: 1.3;
	padding: 50px 0 50px 0;
	font-size: 3rem;
	text-transform: capitalize;
}

@media screen and (max-width: 800px) {
	body {
		background-color: bisque;
	}
	.images img {
		width: 100%;
	}
	.section2 .images {
		flex-direction: column;
		height: 100%;
	}
}
